/* nav{
    background-color: aliceblue;
    font-size: 20px;
    padding: 10px 5px;
    display: flex;
    justify-content: start;
}
nav>a {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 15px;
    margin-bottom: 10px;
    color: rgb(98, 6, 141);    
}
nav>a:hover {
    color: inherit;
}
nav>a.active{
    text-decoration: none;
    font-weight: 700;
}
.featureLink a {
    margin-right: 10px;
    text-decoration: none;
    font-size: 17px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(112, 106, 20);
}
.featureLink>a:hover {
    color: rgb(8, 8, 1);
} */

/* .bgAll {
    background-color: #333;
    color: #fff;
    padding: 15px;
}
.btn1 {
    margin-left: -42px;
}
.text-muted {
    transform: translate(40%, 330%);
}
.text-muted h1 {
    color: red;
} */

nav a {
    margin: 10px;
    line-height: 30px;
    color: #111;
    text-decoration: none;
}
.isActive{
    color: red;
}